@using Agems.Models
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<Agems.Comment>

@{
    ViewData["Title"] = "Index";
    string Login = "";
    if (User.Identity.IsAuthenticated)
    {
        Login = @HttpContextAccessor.HttpContext.Session.GetString("GitHub");
    }
}
@{
    Layout = "";    
}

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Agency - Start Bootstrap Theme</title>
        <!-- Favicon-->
       @* <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />*@
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="~/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#sound">@ViewBag.Sound.Name</a></li>
                        <li class="nav-item"><a class="nav-link" href="#comments">Коментарі</a></li>
                        <li class="nav-item"><a class="nav-link" href="#comment">Залишити Коментар</a></li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Buttons">Buttons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Scroll">Scroll</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Canvas">Canvas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Three">3D Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index">AgemsSounds</a>
                        </li>
                        <li>
                            @{
                                Uri url = new Uri(String.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString));
                                //string url = "";
                            }
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link" asp-route-url="@url" asp-controller="GitHubOAuth" asp-action="Login">Log in</a>
                            }else{
                                
                                Login = @HttpContextAccessor.HttpContext.Session.GetString("GitHub");
                                <a class="nav-link" asp-route-url="@url"  asp-controller="GitHubOAuth" asp-action="Login">You logged in as @Login </a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Вітаємо на сторінці звуку @ViewBag.Sound.Name !!!</div>
                <div class="masthead-heading text-uppercase">Дуже раді бачити вас.</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#sound">Що за звук?</a>
            </div>
        </header>

        <section class="page-section" id="sound">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">@ViewBag.Sound.Name</h2>
                    <h3 class="section-subheading text-muted">@ViewBag.Sound.About</h3>
                </div>
                <div class="row text-center">
                        <h4 class="my-3">Неперевершений звук із категорії @ViewBag.Sound.Category.Name</h4>
                        <p class="text-muted"></p>
                        <audio controls>
                            <source src="~/sounds/@ViewBag.Sound.SoundPath" type="audio/mpeg">
                        </audio>
                </div>
            </div>
        </section>


        <section class="page-section" id="comments">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Коментарі</h2>
                    <h3 class="section-subheading text-muted">"Дискусія — це не обов'язково суперечка, це можливість кожній стороні висловити свою точку зору" — Олександр Ірванець</h3>
                </div>
                <ul class="timeline">
                    @foreach (var item in Model) {
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@item.Author</h4>
                                @if(Login == item.Author){
                                    <a asp-action="Edit" asp-route-id="@item.Id"><h7 class="subheading">Редагувати</h7></a> <span>|</span>
                                    <a asp-action="Delete" asp-route-id="@item.Id"><h7 class="subheading">Видалити</h7></a>
                                }
                            </div>
                            <div class="timeline-body"><p class="text-muted">@item.Text</p></div>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </section>

        <section class="page-section bg-light" id="comment">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Залиште свій коментар!</h2>
                    <h3 class="section-subheading text-muted">Це буває весело.</h3>
                </div>
                @if (!User.Identity.IsAuthenticated)
                    {
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Для цього треба увійти в систему</p></div>
                    <div class="text-center"><a asp-route-url="@url" asp-controller="GitHubOAuth" asp-action="Login" class="btn btn-primary btn-xl text-uppercase">Увійти!</a></div>
                </div>
                    }else{
                        <form method="get" asp-action="Create" asp-route-id="@ViewBag.Sound.Id">
                <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" type="submit">Залишити Коментар!</button></div>
                        </form>
                    }
            </div>
        </section>
             
        <section>
            <div class="text-center"><a asp-action="Index" asp-controller="Sounds" asp-route-id="@ViewBag.Sound.CategoryId">Повернутись до звуків</a></div>
        </section>

        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="~/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>



