@using Agems.Models
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<Agems.Category>

@{
    string Login = "";
    if (User.Identity.IsAuthenticated)
    {
        Login = @HttpContextAccessor.HttpContext.Session.GetString("GitHub");
    }
} 

@{
    ViewData["Title"] = "Index";
}
<body>
<h1>Agems Sounds</h1>

<p>
    @if (Login == "oleksiimatsui")
                        {
    <a asp-action="Create">Create category</a>
                        }
</p>


@foreach (var item in Model) {
    <form asp-action="Details" asp-route-id="@item.Id">
        <button style="all: inherit; display: inline-block; width: 70%">
        <div class="card border-warning mb-3" style="width: 100%">
            <div class="card-header">
                @item.Name
                   @if (Login == "oleksiimatsui")
                        {
                            <div style="float:right; z-index: 1">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                    }
            </div>
            <div class="card-body">
                <p class="card-text">
                   @foreach (var sound in item.Sounds)
                   {
                   <span> @sound.Name </span>; 
                   }
                </p>
            </div>
        </div> 
        </button>
    </form>
}
</body>